<h2>Hi, I'm Greg</h2>
<p>I'm a Tokyo-based researcher and consultant, with a PhD from the Graduate School of Media &amp; Governance at Keio University.</p>

<p>I'm currently a Researcher at Keio University's Keio Global Research Institute (KGRI).</p>

<p>I'm available to consult on research projects, and have over a decade's experience in all stages of the research pipeline. This includes both project and team management. I provide expertise on data collection, management, and analysis, and I specialize in multivariate statistical text analysis techniques.</p>

<h2>Research Interests</h2>
<ul>
  <li>Computational Social Science and Text Analysis</li>
  <li>Correspondence Analysis</li>
  <li>Southeast Asia</li>
  <li>Political and Social Cognition</li>
  <li>Identity and Culture</li>
</ul>
