<h2>Hi, I'm Greg</h2>
<p>I'm a Tokyo-based research and consultant, with a PhD from the <a href="http://www.sfc.keio.ac.jp/gsmg/en/"></a>Graduate School of Media & Governance</a></li> at Keio University.</p>
<p>Currently I'm an Adjunct Research Fellow at Singapore's <a href="http://www.rsis.edu.sg/research/cens/"></a>Centre of Excellence for National Security</a> and a Research Associate at Keio University's <a href="http://www1.gsec.keio.ac.jp/index.php"><a/>Global Security Research Institute</a></p>

<h2>Research Interests</h2>
<ul>
  <li>Computational Social Science and Text Analysis</li>
  <li>Correspondence Analysis</li>
  <li>Southeast Asia</li>
  <li>Political and Social Cognition</li>
  <li>Identity and Culture</li>
</ul>
